In [2]:
import pandas as pd
import numpy as np
from clean_data import remove_duplicates, check_missing_values, convert_datetime_columns, find_extreme_wait_times

data = pd.read_csv("queue_data.csv")
data.head()

,arrival_time,start_time,finish_time,wait_time,queue_length
0,30-03-2023 0.10,30-03-2023 0.10,2023-03-30 00:22:44.800000000,12.68,28
1,30-03-2023 0.10,30-03-2023 0.16,2023-03-30 00:25:53.200000000,9.82,28
2,30-03-2023 0.10,30-03-2023 0.16,2023-03-30 00:25:48.400000000,9.74,28
3,30-03-2023 0.10,30-03-2023 0.14,2023-03-30 00:27:23.200000000,13.32,28
4,30-03-2023 0.10,30-03-2023 0.15,2023-03-30 00:31:21.400000000,16.29,28

In [3]:
data

,arrival_time,start_time,finish_time,wait_time,queue_length
0,30-03-2023 0.10,30-03-2023 0.10,2023-03-30 00:22:44.800000000,12.68,28
1,30-03-2023 0.10,30-03-2023 0.16,2023-03-30 00:25:53.200000000,9.82,28
2,30-03-2023 0.10,30-03-2023 0.16,2023-03-30 00:25:48.400000000,9.74,28
3,30-03-2023 0.10,30-03-2023 0.14,2023-03-30 00:27:23.200000000,13.32,28
4,30-03-2023 0.10,30-03-2023 0.15,2023-03-30 00:31:21.400000000,16.29,28
...,...,...,...,...,...
555,30-03-2023 22.00,30-03-2023 22.02,2023-03-30 22:16:59.800000000,14.83,12
556,30-03-2023 22.00,30-03-2023 22.10,2023-03-30 22:13:56.200000000,3.77,12
557,30-03-2023 22.00,30-03-2023 22.00,2023-03-30 22:05:35.799999999,5.43,12
558,30-03-2023 23.54,30-03-2023 23.54,2023-03-31 00:00:42.400000000,5.74,2
559,30-03-2023 23.54,30-03-2023 23.58,2023-03-31 00:17:23.200000000,18.42,2

In [4]:
# Remove duplicates using function
data = remove_duplicates(data)
data

,arrival_time,start_time,finish_time,wait_time,queue_length
0,30-03-2023 0.10,30-03-2023 0.10,2023-03-30 00:22:44.800000000,12.68,28
1,30-03-2023 0.10,30-03-2023 0.16,2023-03-30 00:25:53.200000000,9.82,28
2,30-03-2023 0.10,30-03-2023 0.16,2023-03-30 00:25:48.400000000,9.74,28
3,30-03-2023 0.10,30-03-2023 0.14,2023-03-30 00:27:23.200000000,13.32,28
4,30-03-2023 0.10,30-03-2023 0.15,2023-03-30 00:31:21.400000000,16.29,28
...,...,...,...,...,...
555,30-03-2023 22.00,30-03-2023 22.02,2023-03-30 22:16:59.800000000,14.83,12
556,30-03-2023 22.00,30-03-2023 22.10,2023-03-30 22:13:56.200000000,3.77,12
557,30-03-2023 22.00,30-03-2023 22.00,2023-03-30 22:05:35.799999999,5.43,12
558,30-03-2023 23.54,30-03-2023 23.54,2023-03-31 00:00:42.400000000,5.74,2
559,30-03-2023 23.54,30-03-2023 23.58,2023-03-31 00:17:23.200000000,18.42,2

In [5]:
print("wait time basic statistics")
print(data['wait_time'].describe())

wait time basic statistics
count    559.000000
mean      10.101360
std        5.034522
min       -2.930000
25%        6.525000
50%       10.110000
75%       13.320000
max       26.980000
Name: wait_time, dtype: float64

In [6]:
# Check missing values using function
missing = check_missing_values(data)
print("Missing values:")
print(missing)

Missing values:
arrival_time    0
start_time      0
finish_time     0
wait_time       0
queue_length    0
dtype: int64

In [7]:
# check the date structure
print("arrival time samples:")
print(data['arrival_time'].head(3))
print("start time samples:")
print(data['start_time'].head(3))
print("finish time samples:")
print(data['finish_time'].head(3))

arrival time samples:
0    30-03-2023 0.10
1    30-03-2023 0.10
2    30-03-2023 0.10
Name: arrival_time, dtype: object
start time samples:
0    30-03-2023 0.10
1    30-03-2023 0.16
2    30-03-2023 0.16
Name: start_time, dtype: object
finish time samples:
0    2023-03-30 00:22:44.800000000
1    2023-03-30 00:25:53.200000000
2    2023-03-30 00:25:48.400000000
Name: finish_time, dtype: object

In [8]:
# Convert datetime using function
data = convert_datetime_columns(data)

print("arrival time samples:")
print(data['arrival_time'].head(3))
print("start time samples:")
print(data['start_time'].head(3))
print("finish time samples:")
print(data['finish_time'].head(3))

arrival time samples:
0   2023-03-30 00:10:00
1   2023-03-30 00:10:00
2   2023-03-30 00:10:00
Name: arrival_time, dtype: datetime64[ns]
start time samples:
0   2023-03-30 00:10:00
1   2023-03-30 00:16:00
2   2023-03-30 00:16:00
Name: start_time, dtype: datetime64[ns]
finish time samples:
0   2023-03-30 00:22:44.800
1   2023-03-30 00:25:53.200
2   2023-03-30 00:25:48.400
Name: finish_time, dtype: datetime64[ns]

c:\Users\aldooon\Taboor\backend\clean_data.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['arrival_time'] = pd.to_datetime(data['arrival_time'], format='%d-%m-%Y %H.%M')
c:\Users\aldooon\Taboor\backend\clean_data.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['start_time'] = pd.to_datetime(data['start_time'], format='%d-%m-%Y %H.%M')
c:\Users\aldooon\Taboor\backend\clean_data.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['finish_time'] = pd.to_datetime(data['finish_time'])

In [9]:
stats, extreme_count = find_extreme_wait_times(data)
print("Wait time statistics:")
print(stats)
print(f"Wait times over 4 hours: {extreme_count}")

Wait time statistics:
count    559.000000
mean      10.101360
std        5.034522
min       -2.930000
25%        6.525000
50%       10.110000
75%       13.320000
max       26.980000
Name: wait_time, dtype: float64
Wait times over 4 hours: 0

In [10]:
data

,arrival_time,start_time,finish_time,wait_time,queue_length
0,2023-03-30 00:10:00,2023-03-30 00:10:00,2023-03-30 00:22:44.800000000,12.68,28
1,2023-03-30 00:10:00,2023-03-30 00:16:00,2023-03-30 00:25:53.200000000,9.82,28
2,2023-03-30 00:10:00,2023-03-30 00:16:00,2023-03-30 00:25:48.400000000,9.74,28
3,2023-03-30 00:10:00,2023-03-30 00:14:00,2023-03-30 00:27:23.200000000,13.32,28
4,2023-03-30 00:10:00,2023-03-30 00:15:00,2023-03-30 00:31:21.400000000,16.29,28
...,...,...,...,...,...
555,2023-03-30 22:00:00,2023-03-30 22:02:00,2023-03-30 22:16:59.800000000,14.83,12
556,2023-03-30 22:00:00,2023-03-30 22:10:00,2023-03-30 22:13:56.200000000,3.77,12
557,2023-03-30 22:00:00,2023-03-30 22:00:00,2023-03-30 22:05:35.799999999,5.43,12
558,2023-03-30 23:54:00,2023-03-30 23:54:00,2023-03-31 00:00:42.400000000,5.74,2
559,2023-03-30 23:54:00,2023-03-30 23:58:00,2023-03-31 00:17:23.200000000,18.42,2

In [ ]:
from sklearn.linear_model import LinearRegression, PassiveAggressiveRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.model_selection import train_test_split
import pandas as pd


data['arrival_hour'] = data['arrival_time'].dt.hour
data['arrival_day'] = data['arrival_time'].dt.dayofweek
X = data[['arrival_hour', 'arrival_day', 'queue_length']]
y = data['wait_time']


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
linear_predictions = linear_model.predict(X_test)
linear_error = mean_absolute_error(y_test, linear_predictions)


online_model = PassiveAggressiveRegressor(random_state=42)
online_model.fit(X_train, y_train)
online_predictions = online_model.predict(X_test)
online_error = mean_absolute_error(y_test, online_predictions)


unique_days = sorted(data['arrival_time'].dt.date.unique())
daily_results = []


for i, day in enumerate(unique_days):
    
    day_mask = data['arrival_time'].dt.date == day
    X_day = X[day_mask]
    y_day = y[day_mask]
    
    if len(X_day) > 10:  
        
        online_model.partial_fit(X_day, y_day)
        
        
        predictions = online_model.predict(X_day)
        error = mean_absolute_error(y_day, predictions)
        
        daily_results.append({
            'day': day,
            'error': error,
            'samples': len(X_day)
        })

=== MODEL PREDICTION RESULTS ===
Average Prediction Error: 4.03 minutes
Model trained on 447 samples
Model tested on 112 samples

=== FIRST 10 PREDICTIONS VS ACTUAL ===
     Actual_Wait_Time  Predicted_Wait_Time     Error
158             13.53             9.445813  4.084187
451             10.13             9.883503  0.246497
55              11.59            10.588818  1.001182
247              6.85            10.699842  3.849842
70               5.53            10.588818  5.058818
376             12.08            10.100496  1.979504
382             12.83            10.100496  2.729504
81              18.38             9.645595  8.734405
517              8.26             9.368863  1.108863
144              8.63             9.445813  0.815813

=== MODEL PERFORMANCE SUMMARY ===
Best case prediction: 0.25 minutes off
Worst case prediction: 8.73 minutes off
Typical prediction: 4.03 minutes off on average

C:\Users\aldooon\AppData\Local\Temp\ipykernel_28608\209054574.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['arrival_hour'] = data['arrival_time'].dt.hour
C:\Users\aldooon\AppData\Local\Temp\ipykernel_28608\209054574.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['arrival_day'] = data['arrival_time'].dt.dayofweek